.taskForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 0.5rem 1.5rem;
}

.taskForm-item {
    width: 50%;
}

h2 {
    text-align: center;
    padding: 0.5rem;
}